.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.style {
  display: "block";
  margin-left: "auto";
  margin-right: "auto";
  width: "50%";
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  padding: 55px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
