.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h1 {
  text-decoration: underline;
}
.img1 {
  height: 75%;
  width: 100%;
}

.cl {
  padding: 50px;
  font-size: 25px;
  line-height: 50px;
}

.txt {
  font-weight: bold;
}

.style {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  padding: 55px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: floralwhite;
}

.App-link {
  color: #61dafb;
}

.black {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
