.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

h1 {
  text-decoration: underline;
}
.img1 {
  text-align: center;
  height: 75%;
  width: 100%;
}
.style {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 70%;
}

.cl {
  padding: 50px;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  flex-direction: column;
  padding: 55px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.black {
  color: #000000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
